/*Override bg and font global defaults*/
html,body{
	background-color: $light;
	font-family: 'Source Sans Pro', sans-serif;
}

/*Override default header weights*/
h1,h2,h3,h4,h5{
	font-weight: 300;
	color: $dark;
}

a{
	color: $vg-mid;
}
a:hover{
	color: $vg-dark;
	text-decoration: none;
}

aside h1{
	font-size: 1.5em;
}

nav form{
	margin: 5px 0 0 0;
	padding: 0;
	height: 30px;
}

.subscription-search{
	padding-right: 1em;
}

.container{
	/*Temp hack*/
	overflow: hidden;

	background: $bright;
	padding-left: 1em;
	padding-right: 1em;
	box-shadow: 0 0 0 1px $light, 0 0 0 2px $bright, 0 0 .5em $shadow;
}


// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

//$header-font-size: 1em;
//$header-padding-top: 1.5em;
//$header-padding-bottom: 1.5em;

//$max-width: 1350px;
//$indented-lists: true;

// Padding used for layout margins
//$pad-min: 18px;
//$pad-narrow: 25px;
//$pad-medium: 35px;
//$pad-wide: 55px;

// Sidebar widths used in media queries
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;
